<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Notícia 3</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<hr>
<body>
    <h1>Joca NEWS</h1>
    <h3>NADA ALÉM DA VERDADE, Palmeiras não tem mundial!</h3>
    <hr>
    <h1>Notícia 3</h1>
    <h2 class="titulo">HINO DO CORINTHIANS</h2>

    <audio controls width="600" class="audio">
        <source src="../medias/hinocp.mp3" >
    </audio>
		<div class="imagens-container">
        <img class="imagem1" src="../images/cp.jpeg" alt="Imagem corinthians">
       
		</div>


<hr>
		<p><a href="../index.html">Voltar</a></p>
		
		<p class="dev-texto">Desenvolvido por: Joaquim Rafael</p>
</body>

</html>
